.App {
  height: 100vh;
  align-items: center;
  color: #333333;
}

.HR {
  width: 80%;
  height: 5px;
  margin: 2rem auto;
  background-color: #c4c4c4;
  opacity: 0.2;
  border: 0;
  border-radius: 20px;
}

.Header {
  height: 5%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 6px 32px 5px rgba(0, 0, 0, 0.2);
}

.Header p {
  margin-left: 1rem;
}

.UserInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.UserProfile {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

.SharedRoomsHeader {
  margin: 1rem;
  margin-bottom: -1rem;
  margin-left: 2rem;
  font-weight: bold;
}

.YourRoomsHeader {
  margin-left: 2rem;
  margin-bottom: -1rem;
  margin-top: 2rem;
  font-weight: bold;
}

.Coming-Soon {
  font-family: "Raleway", sans-serif;
}

.Dialog {
  margin: 1rem 2rem;
  padding: 1rem;
}

.LoadingScreen {
  width: 100%;
  height: 100%;
}

.loader {
  margin-top: 1rem;
  z-index: 10;
  position: relative;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 13%;
  border-radius: 50%;
  padding: 1rem;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
}

.loader .stroke {
  display: block;
  position: relative;
  background: #25283d;
  height: 80%;
  width: 1rem;
  border-radius: 10px;
  margin: 0 2px;
  animation: animate 1.2s linear infinite;
}
@keyframes animate {
  50% {
    height: 20%;
  }
  100% {
    height: 80%;
  }
}
.stroke:nth-child(1) {
  animation-delay: 0s;
}
.stroke:nth-child(2) {
  animation-delay: 0.3s;
}
.stroke:nth-child(3) {
  animation-delay: 0.6s;
}
.stroke:nth-child(4) {
  animation-delay: 0.9s;
}
.stroke:nth-child(5) {
  animation-delay: 0.6s;
}
.stroke:nth-child(6) {
  animation-delay: 0.3s;
}
.stroke:nth-child(7) {
  animation-delay: 0s;
}
