.App {
  height: 100vh;
  align-items: center;
  color: #333333;
}

.HR {
  width: 80%;
  height: 5px;
  margin: 2rem auto;
  background-color: #c4c4c4;
  opacity: 0.2;
  border: 0;
  border-radius: 20px;
}

.Header {
  height: 5%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 6px 32px 5px rgba(0, 0, 0, 0.2);
}

.Header p {
  margin-left: 1rem;
}

.SharedRoomsHeader {
  margin: 1rem;
  margin-left: 2rem;
  font-weight: bold;
}

.Coming-Soon {
  font-family: "Raleway", sans-serif;
}

.Dialog {
  margin: 1rem 2rem;
  padding: 1rem;
}
