.CardContainer {
  position: relative;
}

.RoomCard {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: 0.2s;
  box-shadow: 8px 8px 13px -5px rgba(0, 0, 0, 0.48);
}

.PlusCard {
  background-color: #9b51e0;
  font-weight: bolder;
  align-items: center;
  color: white;
  border: 0;
}

.AddGradient {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bolder;
  background: linear-gradient(
    135deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.RoomCard:hover {
  cursor: pointer;
  opacity: 0.7;
}

.DeleteBtn {
  display: block;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: 2px solid white;
  padding: 0.2rem;
  color: white;
  width: 20px;
  height: 20px;
  font-weight: bolder;
  z-index: 10;
  transition: 0.2s;
}

.DeleteBtn:hover {
  background-color: rgba(255, 255, 255, 0.39);
  cursor: pointer;
}

.DeleteIcon {
  width: inherit;
  height: inherit;
}
