.CardContainer {
  position: relative;
}

.RoomCard {
  height: 200px;
  width: 200px;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 8px 8px 13px -5px rgba(0, 0, 0, 0.48);
}

.PlusCard {
  background-color: #9b51e0;
  font-weight: bolder;
  color: white;
  border: 0;
}

.AddGradient {
  font-family: "Raleway";
  color: white;
  font-weight: bolder;
  background: linear-gradient(
    135deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.RoomCard:hover {
  cursor: pointer;
  opacity: 0.7;
}

.DeleteBtn {
  display: block;
  text-align: center;
  border-radius: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: red;
  padding: 0.2rem;
  color: white;
  width: 30px;
  height: 30px;
  font-weight: bolder;
  z-index: 10;
}

.DeleteBtn:hover{
  background-color: rgb(230, 81, 81);
  cursor: pointer;
}