.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ccc;
  height: 20px;
}

.PlaylistPage {
  background-color: #f2f2f2;
  height: calc(100% - 20px);
  padding: 2rem;
}

.PlaylistPage button {
  margin-top: 1rem;
}

.CurrentSongSection {
  width: 50%;
}

.CurrentSongContainer {
  border-radius: 10px;
  background-color: #4f4f4f;
  padding: 1rem;
}

.CurrentSong {
  position: relative;
  display: flex;
}

.CurrentSong img {
  width: 150px;
  border-radius: 10px;
}

.CurrentSong p {
  margin: 0 1rem;
  display: flex;
}

.CurrentSongTitle {
  font-size: 20px;
  color: #f2f2f2;
  font-weight: bold;
}

.CurrentSongArtist {
  font-size: 18px;
  font-weight: 500;
  color: #e5e5e5;
}

.CurrentSongCard .SongQueueSection {
  padding: 2rem;
  width: 50%;
}

.SongQueue {
  padding: 1rem;
  background-color: white;
  box-shadow: inset 0px 0px 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  min-height: 100px;
}

.Dialog {
  margin: 1rem 2rem;
  padding: 1rem;
  position: relative;
}

.Dialog p {
  margin-bottom: 4rem;
}
