.NavBar {
  display: flex;
  justify-content: space-between;
  background-color: #ccc;
}

.PlaylistPage {
  background-color: #e5e5e5;
  height: 100%;
}

.CurrentSongSection {
  padding: 2rem;
  width: 50%;
}

.CurrentSongContainer {
  border-radius: 10px;
  background-color: #4f4f4f;
  padding: 1rem;
}

.SongQueueSection {
  padding: 2rem;
  width: 50%;
}

.SongQueue {
  padding: 1rem;
  background-color: white;
  box-shadow: inset 0px 0px 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  min-height: 100px;
}
